// All variables: http://getbootstrap.com/customize/#less-variables
// $color: red

// Add more variables for your custom codes as needed!
$body-bg: transparent
$grid-gutter-width: 30px
$container-large-desktop: 969px + $grid-gutter-width

$font-family-sans-serif: 'Open Sans'
$font-size-h2: 25px
$font-size-h3: 22px
$font-size-base: 17px

$navbar-inverse-link-active-bg: #d6533c
$navbar-inverse-link-color: #fff
$navbar-inverse-border: #999a99

$link-color: #d6533c // TODO: Define single place of hex color!

$border-radius-base: 0px

// Custom vars
$container-bg: transparent

$brand-danger: #e75a41
