h1 = t '.headline'

/ TODO: Slideshow Vollbild!
= carousel 'homepage_carousel',
  { 'pages/home/carousel/sunrise.jpg' => t('.welcome_to_the_exciting_experience'),
    'pages/home/carousel/swiss_mountains.jpg' => t('.carry_your_comfortable_bed_with_you'),
    'pages/home/carousel/deployable_bed.jpg' => t('.have_a_deployable_bed_ready_in_a_little_corner'),
    'pages/home/carousel/sleeping_on_the_side.jpg' => t('.a_hammock_you_can_comfortably_sleep'),
    'pages/home/carousel/extra_bed.jpg' => t('.always_have_that_extra_bed_for_guests'),
    'pages/home/carousel/on_the_ground.jpg' => t('.combined_with_our_ultralight_tarp_tent'),
    'pages/home/carousel/flying_bed.jpg' => t('.get_an_hour_of_rest_on_your_verandah'),
    'pages/home/carousel/laugh_at_the_mud.jpg' => t('.laugh_at_the_mud'),
    'pages/home/carousel/under_the_stars.jpg' => t('.spend_a_summer_night_under_the_stars'),
    'pages/home/carousel/hiking_biking_canoeing.jpg' => t('.hiking_biking_canoeing') }
    /'pages/home/carousel/sunrise.jpg' => t('.Insert an insulation pad into the pad sleeve to feel comfortably warm even in snowy areas!'),

/ TODO: Teaservideo als anklickbaren Badge o.ä. immer anzeigen und Video dann in Dialog anzeigen! Alternative: Carousel-Indicators als Image-Icons bzw. Movie-Icons anzeigen.
