h1 = t '.headline'

/ TODO: Slideshow Vollbild!
= carousel 'homepage_carousel',
  { 'pages/home/carousel/14.JPG' => 'Possibly the lightest and most comfortable fully featured camping hammock on the market',
    'pages/home/carousel/IMG_4393.jpg' => '350 g plus suspension straps and stuff bag 50 g = 400 g!',
    'pages/home/carousel/37.JPG' => "Combined with the ultralight 90 Degree Tarp-Tent it's an all-round shelter system for camping pretty much everywhere",
    'pages/home/carousel/R0019684.JPG' => 'Even on the ground where there are no trees',
    'pages/home/carousel/56.JPG' => 'A hammock you can comfortably sleep a whole night in, even on your side!',
    'pages/home/carousel/55.JPG' => 'No pad-sleeve / no bug net customization options available',
    'pages/home/carousel/35.JPG' => "Use just about any standard single camping pad inside the hammock's pad-sleeve as bottom insulation",
    'pages/home/carousel/45.JPG' => 'The 90 Degree Tarp-Tent is available in camo, too',
    'pages/home/carousel/sunrise.jpg' => 'Imagine the endless possibilities where to have a comfortable rest within a minute!',
   }
    /'pages/home/carousel/sunrise.jpg' => t('.Insert an insulation pad into the pad sleeve to feel comfortably warm even in snowy areas!'),

/ TODO: Teaservideo als anklickbaren Badge o.ä. immer anzeigen und Video dann in Dialog anzeigen! Alternative: Carousel-Indicators als Image-Icons bzw. Movie-Icons anzeigen.
