- content_for :headline do
  = t '.headline'

/ TODO: Slideshow Vollbild!
= carousel 'homepage_carousel',
  { 'pages/home/carousel/1.jpg' => 'A hammock you can comfortably sleep a whole night in, even on your side!',
    'pages/home/carousel/2.jpg' => 'Carry your comfortable bed with you and camp anywhere between trees in the great outdoors.',
    'pages/home/carousel/3.jpg' => 'Always have that extra bed for guests in the house that is not in your way.',
    'pages/home/carousel/4.jpg' => "Combined with our ultralight Tarp-Tent it's an all-round shelter system for camping pretty much everywhere, even on the ground where there are no trees..",
    'pages/home/carousel/5.jpg' => 'Laugh at the mud, snow, critters, roots and rocks a few inches below you.',
    'pages/home/carousel/6.jpg' => 'Get an hour of rest on your verandah, in a hammock that is not much less than a flying bed but can be stowed away in a corner within seconds. Have a deployable bed ready in a little corner of your baggage, pack or car, weighing just a few hundred grams.',
    'pages/home/carousel/7.jpg' => "Hiking, biking, canoeing – don't worry about getting back before nightfall.",
    'pages/home/carousel/8.jpg' => 'Spend a summer night under the stars, above the ground and protected from all kinds of bugs and critters.' }

/ TODO: Teaservideo als anklickbaren Badge o.ä. immer anzeigen und Video dann in Dialog anzeigen! Alternative: Carousel-Indicators als Image-Icons bzw. Movie-Icons anzeigen.
