- content_for :headline do
  = t '.headline'

p The 90 Degree Hammock is different from hammocks you know and a bit more complex; therefore you will have to learn just a few skills to make the most of it. What you get in return is superior comfort; and hardly will you want to return to a standard hammock ever again! Please carefully watch our know-how videos and read the manuals and FAQ to learn how to use the 90 Degree Hammock.

/ TODO: Video "Hanging and packing up the 90 Degree Hammock"

= link_to 'Download 90° Hammock Manual', 'know_how_hammocks_manual'