.headline
  h1 = t '.headline'

section
  .row
    .col-md-12
      markdown:
        ## Shipping Costs

        A flat rate shipping fee of CHF 20.00 will be added to your order, regardless of your shipping address. All orders are sent by Swiss Post and delivered to you by your country's postal service. Tracking is not always possible; if so we'll email you a tracking number.

        ## Delivery Time

        We kindly ask for your patience as it may take up to 4 weeks to receive your order. Please report back to us if you have not received it after 5 weeks, and we'll find it for you or send it again. This may take another 4 weeks or more.

        ## Orders from outside Switzerland

        Orders from outside Switzerland may be subject to additional import charges (customs fees, VAT). Please check the regulations of your country / your postal service; and please be aware that in some EU countries VAT is very high (20% or more). Please also note that you may have to pay these in cash upon delivery, or that you might even have to go pick up the package yourself at the customs / post office.