section.headline
  h1 = t '.headline'

section
  .row
    .col-md-12
      markdown:
        ## 1. General

        These terms and conditions apply for all services and products rendered, delivered or sold by HammockTent GmbH (hereinafter referred to as "vendor") to the customer or vendee.

        Deferring arrangements are accepted only if agreed upon explicitly in writing by both the vendor and the customer. By ordering and / or paying for products on the website of the vendor the customer fully accepts these terms and conditions.

        Any special or general terms contradicting these terms and conditions will not be accepted by the vendor and have no validity in the contract between the vendor and the customer. Individual arrangements will be considered prior to these terms and conditions.

        ## 2. Contract formation

        Oral agreement, payment for, or delivery of goods and services brings into existence a legally binding contract between the customer and the vendor on these terms at hand or documented individual arrangements.

        Offers are, unless limited in time, always non binding until contract formation, particularly in regards to prices, delivery obligations, quantities and times.

        Products can be subject to change without notice, which includes their color, shape or weight. Product specifications can slightly defer from the information given on the website.

        ## 3. Withdrawal from the contract

        The vendor is entitled to withdraw from any contract at any time in case of mistakes or inaccuracies on the website. In this case the vendor may inform the customer about any changes and may ask if the customer wishes to continue with the order, or to cancel the order.

        The customer can withdraw from the contract by contacting the vendor via email and then returning the unused products according to the instructions of the vendor in their original state and packaging at his own cost and risk within 20 days after payment or order submission. The vendor will fully or partially refund the customer, depending on the conditions of the returned products as determined by the vendor.

        ## 4. Prices

        All prices are to be understood in Swiss Francs (CHF) and are net prices quoted without VAT and shipping costs. Binding are the valid catalog prices of the vendor on the day of delivery.

        ## 5. Deliveries

        Place of delivery is the place of business of the vendor. Transporting risks are transferred to the customer with the handover of the goods to the postal or parcel service, carrier or freight forwarder; or with the goods leaving the vendors premises. Costs for packaging and shipping of goods will be billed to the customer.

        ## 6. Dates of delivery

        Specific dates of delivery are not stipulated. Any stated delivery times are meant to provide guidance only. The customer is required to accept delivered goods.

        If the vendor can not comply with his delivery obligations due to operating troubles, a lack of workforce, strike, supplies interruption, fire damage, warfare, regulatory disposal, significant changes in currency conversions, acts of nature and other factors beyond the vendor's control the vendor will be exempt from delivery obligations.

        The customer can only deduce compensation for delayed or deferred deliveries if the vendor can be blamed with criminal intent or gross negligence. In case the vendor should be obliged to pay compensation the amount will be limited to the net invoice value. Lost profits, damages due to supply shortage or damages to third parties will not be compensated.

        ## 7. Payments

        The vendor must receive payment in full for ordered products and services before the order can be accepted and the contract formed.

        Billing amounts are to be paid net cash within 30 days after date of invoice free of postage and expense, unless other arrangements have been agreed upon in writing. The customer is not authorized to bill any counterclaims.

        After the deadline of 30 days the customer will be in default. The vendor will charge 5% default interest of the purchasing price, subject to additional claims. Default of the customer will take effect with the expiry of the deadline, without any reminders.

        ## 8. Warranty

        The vendor warrants the delivery of products free of material defects and defects of title.

        Possible defects must be reported to the vendor immediately, within 3 days of receipt, in writing or by email.

        The warranty period is 1 year from delivery. The warranty period starts with the delivery to the customer. The vendor is not liable for damages that happen after delivery because of non compliance with instructions for use and care of the products or because of exceeding recommended maximum loads for hammocks. The vendor is not liable for damages caused by inappropriate use and wear of the products. The customer is obliged to demonstrate that the product was deficient at the time of delivery.

        If the customer makes justified warranty claims the vendor can, at his option, refund the purchasing price or deliver a replacement. Further claims, particularly damage claims including lost profits and pecuniary damages, are completely disqualified, unless the cause of the damage can be traced to criminal intent or gross negligence of the vendor.

        ## 9. Safety

        The use of hammocks is inherently associated with dangers. The customer agrees that he is using the hammocks of the vendor at his own risk and is obliged to always use common sense and good judgement to ensure his safety. This includes checking all product components for wear and aging before every use, and replacing / repairing these components if needed. Hammocks should not be hanged more than 50 cm above the ground, which has to be flat and soft; and not above or under dangerous objects. Trees that could drop limbs or parts thereof are to be avoided as anchor / hanging points for hammocks. The safety and strength of a hanged hammock has to be tested thoroughly in a seated position each time before lying down. Minors using the hammocks of the vendor are to be supervised at all times.

        ## 10. Data privacy

        The vendor adopts all reasonable measures to protect stored data. However, third party access to data stored by the vendor or his contractors does not imply liability of the vendor or his contractors.

        The vendor uses customer data solely for the fulfillment of offered services in accordance with the contract and applicable laws.

        The customer agrees with data storage and use by the vendor.

        ## 11. Applicable law, place of jurisdiction

        The terms and conditions and the legal relationship between the vendor and the customer are amenable to Swiss law. Exclusive place of jurisdiction is the place of business of the vendor.