section.headline
  h1 Terms and Conditions

section
  markdown:
    ## English version

    ### 1. General

    By purchasing a HammockTent product and / or clicking the “I fully agree, please proceed” button, you are agreeing to our terms and conditions outlined below.

    These terms and conditions apply for all services and products rendered, delivered or sold by HammockTent GmbH (hereinafter referred to as "vendor") to the customer or vendee.

    Deferring arrangements are accepted only if agreed upon explicitly in writing by both the vendor and the customer. By ordering and / or paying for products on the website of the vendor the customer fully accepts these terms and conditions.
    Any special or general terms contradicting these terms and conditions will not be accepted by the vendor and have no validity in the contract between the vendor and the customer. Individual arrangements will be considered prior to these terms and conditions.

    ### 2. Contract formation

    Oral agreement, payment for, or delivery of goods and services brings into existence a legally binding contract between the customer and the vendor on these terms at hand or documented individual arrangements.

    Offers are, unless limited in time, always non binding until contract formation, particularly in regards to prices, delivery obligations, quantities and times.

    Products can be subject to change without notice, which includes their color, shape or weight. Product specifications can slightly defer from the information given on the website.

    ### 3. Withdrawal from the contract

    The vendor is entitled to withdraw from any contract at any time in case of mistakes or inaccuracies on the website. In this case the vendor may inform the customer about any changes and may ask if the customer wishes to continue with the order, or to cancel the order.

    The customer can withdraw from the contract by contacting the vendor via email and then returning the unused products according to the instructions of the vendor in their original state and packaging at his own cost and risk within 20 days after payment or order submission. The vendor will fully or partially refund the customer, depending on the conditions of the returned products as determined by the vendor.

    ### 4. Prices

    All prices are to be understood in Swiss Francs (CHF) and are net prices quoted without VAT and shipping costs. Binding are the valid catalog prices of the vendor on the day of delivery.

    ### 5. Deliveries

    Place of delivery is the place of business of the vendor. Transporting risks are transferred to the customer with the handover of the goods to the postal or parcel service, carrier or freight forwarder; or with the goods leaving the vendors premises. Costs for packaging and shipping of goods will be billed to the customer.

    ### 6. Dates of delivery

    Specific dates of delivery are not stipulated. Any stated delivery times are meant to provide guidance only. The customer is required to accept delivered goods.

    If the vendor can not comply with his delivery obligations due to operating troubles, a lack of workforce, strike, supplies interruption, fire damage, warfare, regulatory disposal, significant changes in currency conversions, acts of nature and other factors beyond the vendor's control the vendor will be exempt from delivery obligations.

    The customer can only deduce compensation for delayed or deferred deliveries if the vendor can be blamed with criminal intent or gross negligence. In case the vendor should be obliged to pay compensation the amount will be limited to the net invoice value. Lost profits, damages due to supply shortage or damages to third parties will not be compensated.

    ### 7. Payments

    The vendor must receive payment in full for ordered products and services before the order can be accepted and the contract formed.

    Billing amounts are to be paid net cash within 30 days after date of invoice free of postage and expense, unless other arrangements have been agreed upon in writing. The customer is not authorized to bill any counterclaims.

    After the deadline of 30 days the customer will be in default. The vendor will charge 5% default interest of the purchasing price, subject to additional claims. Default of the customer will take effect with the expiry of the deadline, without any reminders.

    ### 8. Warranty

    The vendor warrants the delivery of products free of material defects and defects of title.

    Possible defects must be reported to the vendor immediately, within 3 days of receipt, in writing or by email.

    The warranty period is 1 year from delivery. The warranty period starts with the delivery to the customer. The vendor is not liable for damages that happen after delivery because of non compliance with instructions for use and care of the products or because of exceeding recommended maximum loads for hammocks. The vendor is not liable for damages caused by inappropriate use and wear of the products. The customer is obliged to demonstrate that the product was deficient at the time of delivery.

    If the customer makes justified warranty claims the vendor can, at his option, refund the purchasing price or deliver a replacement. Further claims, particularly damage claims including lost profits and pecuniary damages, are completely disqualified, unless the cause of the damage can be traced to criminal intent or gross negligence of the vendor.

    ### 9. Safety

    HammockTent products are to be used at the buyer’s own risk. The use of hammocks is inherently associated with dangers. The vendor is not liable for any injury or damage that may be caused by its products and cannot be prosecuted for any such injuries or damages.

    The customer agrees that he is using the hammocks of the vendor at his own risk and is obliged to always use common sense and good judgement to ensure his safety. This includes checking all product components for wear and aging before every use, and replacing / repairing these components if needed. Hammocks should not be hanged more than 50 cm above the ground, which has to be flat and soft; and not above or under dangerous objects. Trees that could drop limbs or parts thereof are to be avoided as anchor / hanging points for hammocks. The safety and strength of a hanged hammock has to be tested thoroughly in a seated position each time before lying down. Minors using the hammocks of the vendor are to be supervised at all times.

    ### 10. Data privacy

    The vendor adopts all reasonable measures to protect stored data. However, third party access to data stored by the vendor or his contractors does not imply liability of the vendor or his contractors.

    The vendor uses customer data solely for the fulfillment of offered services in accordance with the contract and applicable laws.

    The customer agrees with data storage and use by the vendor.

    ### 11. Applicable law, place of jurisdiction

    The terms and conditions and the legal relationship between the vendor and the customer are amenable to Swiss law. Exclusive place of jurisdiction is the place of business of the vendor.

section
  markdown:
    ## Deutsche Version

    ### 1. Allgemeines

    Durch den Kauf eines HammockTent Produktes und / oder durch klicken des “I fully agree, please proceed” Knopfes erklärst du dich Einverstanden mit unseren untenstehenden AGB.

    Die AGB gelten für sämtliche Leistungen und Produkte, die von HammockTent GmbH (nachfolgend „Anbieterin“ genannt) für den Kunden bzw. Käufer erbracht, ihm geliefert und verkauft werden.

    Abweichende Regelungen haben nur dann Geltung, wenn sie ausdrücklich und schriftlich zwischen der Anbieterin und dem Kunden vereinbart wurden. Mit Bezahlung und / oder Versenden der Bestellung der entsprechenden Produkte auf der Website der Anbieterin akzeptiert der Kunde die vorliegenden Bedingungen vollständig.

    Diesen AGB widersprechende spezielle oder allgemeine Vertragsbedingungen werden von der Anbieterin nicht akzeptiert und haben im Verhältnis zwischen der Anbieterin und dem Kunden keine Gültigkeit. Individuelle Vereinbarungen gehen diesen AGB vor.

    ### 2. Vertragsabschluss

    Der Vertrag zwischen dem Kunden und der Anbieterin kommt durch die Bezahlung der Produkte und Dienstleistungen, durch Abrede oder formlos durch die Lieferung der Produkte zustande. Leistungsinhalt und Umfang ergeben sich aus den vorliegenden AGB, bzw. aus allfälligen dokumentierten Individualvereinbarungen.

    Angebote sind, soweit nicht befristet, bis zum Vertragsabschluss stets freibleibend, insbesondere hinsichtlich der Preise, Lieferungsverpflichtungen, -mengen und -zeiten.

    Produkte, inklusive deren Farbe, Form und Gewicht, können jederzeit und ohne Ankündigung geändert werden und von den Angaben auf der Webseite abweichen.

    ### 3. Rücktritt vom Vertrag

    Die Anbieterin kann jederzeit vom Vertrag zurücktreten im Fall von Fehlern oder Ungenauigkeiten auf der Website. In diesem Fall wird die Anbieterin dem Kunden die Änderungen mitteilen und ihn fragen, ob trotz der Änderungen die Bestellung weiter verfolgt werden oder ob diese storniert werden soll.

    Der Kunde kann vom Vertrag zurücktreten, indem er dies der Anbieterin per Email mitteilt und danach gemäss Anweisung die ungebrauchten und originalverpackten Produkte auf eigenes Risiko und eigene Kosten innerhalb von 20 Tagen nach Bezahlung / Bestellung der Anbieterin zurücksendet. Die Anbieterin wird den bezahlten Betrag voll oder teilweise rückerstatten, je nach Zustand der zurückgesendeten Produkte gemäss Einschätzung der Anbieterin.

    ### 4. Preise

    Preise verstehen sich in Schweizer Franken (CHF) und sind netto ohne Mehrwertsteuer und Versandkosten angegeben. Massgebend sind die am Tage der Lieferung gültigen Listenpreise der Anbieterin.

    ### 5. Lieferungen

    Erfüllungsort für die Lieferungen ist der Sitz der Anbieterin. Mit der Übergabe der Ware an die Post bzw. den Paketdienst, an den Spediteur oder Frachtführer, spätestens jedoch mit dem Verlassen des Firmengebäudes, geht die Transportgefahr auf den Käufer über. Die Verpackungs- und Portokosten werden dem Käufer in Rechnung gestellt.

    ### 6. Liefertermine

    Bestimmte Liefertermine sind grundsätzlich nicht vereinbart. Angegebene Lieferzeiten dienen einzig der Orientierung. Der Kunde ist verpflichtet, die gelieferte Ware entgegenzunehmen.

    Kann die Anbieterin ihre Lieferpflichten durch Betriebsstörungen, Arbeitskräftemangel, Streik, unterbliebene Eigenbelieferung, Feuerschaden, kriegerische Auseinandersetzungen, behördliche Verfügung, wesentliche Veränderungen in den Währungsverhältnissen oder infolge höherer Gewalt nicht erfüllen, so wird sie von der Leistungspflicht frei.

    Aus verspäteter oder verzögerter Lieferung kann der Käufer Schadenersatzanspruch nur herleiten, wenn der Anbieterin Vorsatz oder grobe Fahrlässigkeit zur Last gelegt werden kann. Sofern die Anbieterin zum Schadenersatz verpflichtet sein sollte, ist die Höhe der Haftung auf den Nettorechnungswert begrenzt. Entgangener Gewinn, Mangelfolgeschaden und Schäden bei Drittpersonen werden nicht ersetzt.

    ### 7. Zahlung

    Die Anbieterin muss die Zahlung des vollen Betrages für die Produkte und Dienstleistungen erhalten bevor die Bestellung akzeptiert werden kann und der Vertrag zustande kommt.

    Rechnungsbeträge sind - soweit nichts anderes schriftlich vereinbart wird - innerhalb von spätestens 30 Tagen nach Rechnungsdatum, netto Kasse, porto- und spesenfrei zahlbar. Die Verrechnung von Zahlungen wegen etwaiger Gegenansprüche des Käufers ist diesem nicht gestattet.

    Nach der Frist von 30 Tagen fällt der Käufer in Verzug. Die Anbieterin stellt dem Käufer, vorbehaltlich der Anmeldung weiterer Rechte, Verzugszinsen in Höhe von 5% des Kaufpreises in Rechnung. Der Verzug des Käufers tritt mit Zeitüberschreitung ein, ohne dass es einer Mahnung bedarf.

    ### 8. Gewährleistung

    Die Anbieterin gewährleistet, dass die Verkaufsprodukte frei von Sach- und Rechtsmängeln übergeben werden.
    Allfällige Mängel müssen sofort, spätestens innert 3 Tagen, schriftlich oder per email der Anbieterin gegenüber gerügt werden.
    Die Gewährleistungsfrist beträgt 1 Jahr seit der Lieferung. Die Gewährleistungsfrist beginnt mit der Auslieferung an den Käufer. Die Anbieterin haftet nicht für Schäden, die nach der Auslieferung entstehen durch Nichtbeachtung der Benützungs- oder Pflegeanleitungen und des zulässigen Maximalgewichtes der Hängematten. Insbesondere haftet die Anbieterin nicht für Schäden, welche durch unsachgemässen Gebrauch oder durch Abnützung der Produkte entstehen. Dem Käufer obliegt der Nachweis darüber, dass die Ware zum Zeitpunkt der Auslieferung mit einem Mangel behaftet war.

    Macht der Käufer berechtigte Gewährleistungsansprüche geltend, so kann die Anbieterin nach ihrer Wahl entweder den Kaufpreis zurückerstatten oder Ersatzware liefern. Weitergehende Ansprüche wegen mangelhafter Lieferung, insbesondere Schadenersatzansprüche einschliesslich entgangenen Gewinns oder wegen sonstigen Vermögensschadens des Käufers, sind vollständig ausgeschlossen; es sei denn, die Schadensursache beruht auf Vorsatz oder grober Fahrlässigkeit der Anbieterin.

    ### 9. Sicherheit

    HammockTent Produkte werden auf eigenes Risiko des Käufers verwendet. Das Benützen von Hängematten ist grundsätzlich mit Gefahren verbunden. Die Anbieterin ist nicht haftbar für Verletzungen und Schäden die durch den Gebrauch ihrer Produkte verursacht werden können und kann nicht für solche Verletzungen und Schäden verfolgt werden.

    Der Käufer ist damit einverstanden, dass er die Hängematten der Anbieterin auf eigene Gefahr benutzt und ist verpflichtet, immer gesunden Menschenverstand anzuwenden und seine Sicherheit zu gewährleisten. Dies beinhaltet die Prüfung aller Produktbestandteile auf Abnützung und Alterung vor jedem Gebrauch und nötigenfalls die Ersetzung / Reparatur der entsprechenden Bestandteile. Hängematten sollen nicht höher als 50 cm über dem Boden (der flach und weich sein soll) und nicht über oder unter gefährlichen Gegenständen aufgehängt werden. Bäume, von denen Äste oder Teile davon herunterfallen könnten, sind als Hängematten-Aufhängepunkte zu meiden. Die Festigkeit und Sicherheit der aufgehängten Hängematte muss vor jedem Sich Hinlegen zuerst sitzend ausgiebig überprüft werden. Minderjährige, welche die Hängematten der Anbieterin benützen, müssen jederzeit beaufsichtigt sein.

    ### 10. Datenschutz

    Die Anbieterin ergreift alle zumutbaren Massnahmen, um die bei ihr gespeicherten Daten zu schützen. Zugriffe von Dritten bei der Anbieterin oder einem Vertragspartner der Anbieterin auf gespeicherte Daten führen nicht zur Haftung der Anbieterin und deren Vertragspartner.

    Die Anbieterin verwendet Kundendaten zur vertrags- und gesetzeskonformen Erfüllung der angebotenen Dienstleistungen.
    Der Kunde erklärt sich mit der Speicherung und Verwertung seiner Daten durch die Anbieterin vollumfänglich einverstanden.

    ### 11. Anwendbares Recht, Gerichtsstand

    Die AGB und das Rechtsverhältnis zwischen Anbieterin und Kunden unterstehen schweizerischem Recht. Ausschliesslicher Gerichtsstand ist am Sitz der Anbieterin.